 <div class="copyright_section">
        <div class="container">
          <p class="copyright">2023 All Rights Reserved. <a href="https://html.design">Free html  Templates</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a></p>
        </div>
 </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="static/js/jquery.min.static/js"></script>
      <script src="static/js/popper.min.static/js"></script>
      <script src="static/js/bootstrap.bundle.min.static/js"></script>
      <script src="static/js/jquery-3.0.0.min.static/js"></script>
      <script src="static/js/plugin.static/js"></script>
      <!-- sidebar -->
      <script src="static/js/jquery.mCustomScrollbar.concat.min.static/js"></script>
      <script src="static/js/custom.static/js"></script>
      <!-- javascript -->
      <script src="static/js/owl.carousel.static/js"></script>
      <script src="https:cdnstatic/js.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.static/js"></script>

