{% include "header.html" %}
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8 padding_0">
              <div class="banner_img"><img src="static/images/workspace-1280538_1280.jpg"></div>
            </div>
            <div class="col-sm-4">
              <h1 class="clever_text" style="color: white">Find <span style="color: white;">a Cafe</span> Which is Made for You</h1>
              <div class="read_bt_2"><a href={{url_for('all_cafes',cafes=cafes)}}">Find</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- banner section end -->
      <!-- services section start -->
      <div class="services_section layout_padding" style="background-image: url('static/images/pexels-eva-bronzini-7599590.jpg');">
        <div class="container">
          
         <div class="d-flex  justify-content-center">
          <h5 class="what_text">Laptop Friendly</h5>
         </div>
          <div class="d-flex  justify-content-center">
            <h1 class="services_text custom_main">Cafes in London</h1>
          </div>
        </div>
      </div>
      <!-- services section end -->
      <!-- services_2 section start -->
      <div class="services_section_2" style="background-image: url('static/images/pexels-eva-bronzini-6569305.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-6 col-md-6" >
              <div class="plane_main active">
                <div class="plane_left">
                  {% for cafe in cafes[:3]: %}
                  <div class="icon_1"><img src=></div>

                  <h3 class="vision_text">{{cafe["name"]}}<a class='btn btn-link' href={{cafe["map_url"]}}>Find</a></h3>
                  <p class="completely_text">{{cafe["location"]}}</p>
                 {% endfor %}
                 </div>
                </div>
                  <div class="read_bt_2"><a href="{{url_for('all_cafes',cafes=cafes)}}">Find All</a></div>
                <div class="plane_right">
                <div class="map">
                  <div class="map-responsive" >
                    <h2>Find Us Today!</h2>
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1NHjEz2uUqIYoAQgll_PN3eDDK8lT4_Y&ehbc=2E312F" width="640" height="480"></iframe>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      </div>

{% include "footer.html" %}
